@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&family=Open+Sans:wght@300;500;600;700;800&display=swap');

:root{
	--color-hover-menu: #000;
	--color-blanco:#fff;
	--color-negro:#000;
}



header{
	background-color: #3957a3;
	padding: 10px;
	color:#FFFFFF;
	text-align:center;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
  }



body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

#homepage{
	background-image: url("../img/fondo-homepage1.jpg");
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
	color:#FFFFFF;
}

#destacadas{
font-size: 25px;	
padding: 80px 40px;	
}

#informacion{
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	padding: 5px;
	text-align: center;
}

#noticias{
	text-align: center;
	align-items: center;
	padding: 20px;
	
}

#noticias-2{
	padding: 20px;
}

footer{
	background-color: #FFFFFF;
	color: #000000;
	align-items: center;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 30px;
	
}

.ph1{
	padding-top: 20px;
	padding-left: 80px;
}


.ph2{
	padding-top: 20px;
	padding-left: 80px;
}


.ph3{
	padding-top: 20px;
	padding-left: 80px;
}

.phl{
	padding-top: 6px;
}

.pfs{
	
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}


#proyectos-audiovisuales{
	background-image: url("../img/fondo-proyectos2.jpeg");
	background-position:center;
	background-repeat: no-repeat;
	background-size:cover;
	height: 100vh;
	color:#FFFFFF;
}

#proyectos-cinematografia{
	background-color:hsla(60,99%,44%,0.67);
	padding-top: 50px;
	padding-bottom: 50px;

}

#proyectos-produccion1{
	background-color: hsla(188,54%,63%,0.75);
	padding-top: 50px;
	padding-bottom: 50px;

}
#proyectos-produccion2{
background-color:hsla(60,99%,44%,0.67);
	padding-top: 50px;
	padding-bottom: 50px;

}

#proyectos-produccionsonora{
background-color: hsla(188,54%,63%,0.75);	
	padding-top: 50px;
	padding-bottom: 50px;

}

#proyectos-edicionvideo{
background-color:hsla(60,99%,44%,0.67);	
	padding-top: 50px;
	padding-bottom: 50px;

}

#informacion-proyectos{
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	align-content: center;
	position: relative;
}

#redes{
	color:var(--color-negro);
	
}

.icon {
  font-size: 50px;
}


#quienessomos{
	background-image: url("../../Proyecto Enfocus/img/fondo-quienes3.jpg");
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
	color:#FFFFFF;
	padding-bottom: 50px;
}

#informacion-quienessomos{
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	padding: 70px;
	padding: 70px;
	text-align: center;
}

#origenes{
	padding: 70px;
	color: #FFFFFF;
	background-color: #000000;
	background-image: url("../../Proyecto Enfocus/img/img-quienes4.jpg");
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

#informacion-origenes{
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	padding: 50px;
}

#actividades{
	padding: 50px;
	color: #FFFFFF;
	background-color: #000000;
	background-image: url("../../Proyecto Enfocus/img/img-quienes.jpg");
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

#informacion-actividades{
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	padding: 50px;
	text-align: right;
}

#evento{
	padding: 50px;
	color: #FFFFFF;
	background-color: #CA5299;
	text-align: center;
	
}

.qsh{
	padding: 20px;
	text-align: left;
}

.qsh2{
	padding: 20px;
	text-align: right;
}

#cinematografia {
	background-image: url("../img/fondo-homepage1.jpg");
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	color:#FFFFFF;
}

#informacion-cinematografia {
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

#proyectos-cinematografia1 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #000000;
}

#proyectos-cinematografia2 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #000000;
}

#proyectos-cinematografia3 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #000000;
}

#produccionaudiovisual1{
	background-image: url("../img/fondo-homepage1.jpg");
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	color:#FFFFFF;
}

#informacion-produ1{
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}

#proyectos-produ1{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #000000;
}

#proyectos-produ1-2{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #000000;
}

#proyectos-produ1-3{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #000000;
}

#proyectos-produsonora{
	padding: 40px;
}

#proyectos-produ-sonora{
	padding: 40px;
}

#proyectos-produ2{
	padding: 40px;
}

#proyectos-produ2{
	padding: 40px;
}

#noticias{
	background-color: #000000;
	color:#FFFFFF;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

#informacion-reciente {
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}
#informacion-reciente2{
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

#informacion-reciente3{
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

#informacion-eventos{
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

#informacion-eventos2{
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

#informacion-eventos3{
	background-color: rgba(19,19,19,0.80);
	color:#FFFFFF;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}


#destacado1{
	padding: 40px;
}

#destacado2{
	padding: 40px;
}
